body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    /*скид стиля браузера на марджін*/
    margin: 0;
}
img {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

ul > li {
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}
ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid red;
}

/*header*/
.header-general {
    border-bottom: 1px solid #e7e9fc;
    background-color: yellowgreen;
}

.logo {
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    margin-right: 76px;
}
.header-container {
    display: flex;
    align-items: center;
}

.logo-header-accent {
    color: #2e2f42;
}
.header-nav {
    display: flex;
    align-items: center;
}
.header-nav-list {
    display: flex;
    gap: 40px;
}
.nav-list-item {
    padding-top: 24px;
    padding-bottom: 24px;
}

.address {
    font-style: normal;
}
.address-list {
    display: flex;
    gap: 40px;
}
.address-link-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-link-item:hover, .address-link-item:focus {
    color: #404bbf;
}

.nav-link
{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;   
}
.nav-link:hover, .nav-link:focus, .address-link:hover, .address-link:focus {
    color: #404bbf;
}
/*!hero section 1*/
.hero-section {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}
.hero-logo {
    font-size: 56px;
    line-height: 1.07; 
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
}
.hero-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px; 
}
.hero-button:hover, .hero-button:focus {
    background-color: #404BBF;
}
/*!pros section 2*/
.pros {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: lightblue;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.pros-list {
    display: flex;
    gap: 24px;
}
.pros-list-item {
    width: calc((100% - 72px) / 4);
}
.pros-subheading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    width: calc((100% - 72px)/4);
    margin-bottom: 8px;
}

.pros-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*!team section 3*/
.team-section {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-heading {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
}

.team-list-item {
    background-color: #FFFFFF;
}
.team-subheading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*!portfolio section 4*/
.portfolio-logo {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.portfolio-subheading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*!footer section*/
.basement {
    background-color:  #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo-basement-accent {
    color: #f4f4fd;
}
.logo {
    display: inline-block;
    margin-bottom: 16px;
}

.basement-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

ul > li {
    list-style: none;
    text-decoration: none;
}
ul > a {
    list-style: none;
    text-decoration: none;
}
a {
    text-decoration: none;
}

